<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<style>
body{
margin:0;
font-family:Arial;
background:linear-gradient(135deg,#0f172a,#1e293b);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
color:white;
}
.box{
background:#111827;
padding:30px;
border-radius:15px;
width:300px;
text-align:center;
}
input{
width:90%;
padding:10px;
margin:10px 0;
border:none;
border-radius:8px;
}
button{
width:100%;
padding:10px;
background:green;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
}
</style>
</head>
<body>
<div class="box">
<h2>🔐 Admin Login</h2>
<form method="POST">
<input name="username" placeholder="Username">
<input name="password" type="password" placeholder="Password">
<button type="submit">Login</button>
</form>
</div>
</body>
</html>
